
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: white;
}

@media screen and (min-width: 1440px) {
    body {
        background: url("./images/bg-desktop-dark.jpg") black no-repeat center;
        background-size: cover;
    }
}

@media screen and (min-width: 375px) {
    body {
        background: url("./images/bg-mobile-dark.jpg") black no-repeat center;
        background-size: cover;
    }
}

p {
    margin: 15px;
}

button {
    border: none;
    background-color: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 15px;
}

input {
    padding: 15px 32px;
    margin: 15px 15px;
    color: black;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bk-div {
    background: black;
    width: 40%;
    margin-left: 30%;
    border-radius: 1%;
}

.space {
    margin-bottom: 15px;
}
.check{

}
.cross {
    scale: 0.4;
}